.box1{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    float:left;
    margin-bottom: 10%;
    padding-left: 10%;
    
}
.box2{
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    float: right;
   margin-right: 20%;
   padding-right: 10%;
}
.box3{
    border: 2px solid blue;
    height: 100px;
    width: 100px;
   margin-left: 10%;
}
.box4{
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    padding-bottom: 2%;
   margin: auto;
}
.box5{
    border: 2px solid blue;
    height: 100px;
    width: 100px;
    padding-top: 5%;
    margin-top: 20%;
}