body{
    background-image: linear-gradient(rgb(239, 197, 239),rgb(78, 13, 113));
    height: 100vw;
    text-align: center;
}
#first{
    
    margin: 10%;
    /* height: 300px; */
    padding: 3%;
}
#pea{
    border-radius: 100%;
    width: 100px;
    text-align: center;
    align-items: center;
    /* margin: 30%; */
}
#one{
    text-align: center;
}
div{
    text-align: left;
}
#email{
    width: 80%;
    height: 25px;
    margin-left: 6%;
}
#sign{
    margin-left: 6%;
    color: white;
    width: 80%;
    height: 30px;
    background-color: blue;}
    #do{
        text-align: center;
    }
    #next{
        background-color: white;
        height: 500px;
        width: 700px;
        margin-left: 15%;
        border: 0px solid white;
    }
    #for{
        color: cadetblue;
        margin-left: 3%;
    }
    label{
        margin-left: 3%;
    }